:root {
  --container-pad: 80px;
  --width: calc(1024px - var(--container-pad));
  --height: calc(768px - var(--container-pad));
  --width-map: 800px;
  --aspect-map: 1.5712;
  --height-map: calc(var(--width-map) / var(--aspect-map));
  --color-bg: #001731;
  --color-map: #006c99;
  --color-text-primary: #fff;
  --color-text-secondary: #1e9ad4;
  --color-fill-daynight: #001731;
  --color-stroke-daynight: #027fad;
  --color-container-outline: rgba(255, 255, 255, 0.1);
  --color-slider-track: #07294e;
  --color-slider-accent: #07294e;
  --color-slider-thumb: #24a1df;
  --color-debug-outline: red;
  --opacity-stroke-daynight: 0.5;
  --opacity-fill-daynight: 0.5;
  /* Cover component gradient size */
  --fade-size: 200px;
  /* Diameter of circle markers on map */
  --marker-size: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root[data-theme="mono"] {
  --color-bg: #fff;
  --color-map: #ccc;
  --color-text-primary: #111;
  --color-text-secondary: #111;
  --color-fill-daynight: #111;
  --color-stroke-daynight: #fff;
  --color-slider-track: #aaa;
  --color-slider-accent: #000;
  --color-slider-thumb: #999;
  --color-debug-outline: transparent;
  --color-gradient-start: #444;
  --color-gradient-end: #555;
  --opacity-stroke-daynight: 0;
  --opacity-fill-daynight: 0.13;
}

:root[data-theme="purple"] {
  --color-bg: #080a31;
  --color-container-outline: transparent;
  --color-map: #313374;
  --color-text-primary: #fff;
  --color-text-secondary: #8d91e1;
  --color-fill-daynight: #080a31;
  --color-stroke-daynight: #8d91e1;
  --color-gradient-start: #616390;
  --color-gradient-end: #616390;
  --color-slider-track: #262753;
  --color-slider-accent: #262753;
  --color-slider-thumb: #616390;
  --color-debug-outline: transparent;
  --color-marker-bg: #8d91e1;
  --color-marker-border: #080a31;
  --opacity-stroke-daynight: 0.5;
  --opacity-fill-daynight: 0.5;
}

:root[data-theme="blue"] {
  --color-bg: #001731;
  --color-container-outline: transparent;
  --color-map: #016b99;
  --color-text-primary: #fff;
  --color-text-secondary: #1689c1;
  --color-fill-daynight: #001731;
  --color-stroke-daynight: #1689c1;
  --color-gradient-start: #006b99;
  --color-gradient-end: #006b99;
  --color-slider-track: #262753;
  --color-slider-accent: #262753;
  --color-slider-thumb: #616390;
  --color-debug-outline: transparent;
  --color-marker-bg: #62b7db;
  --color-marker-border: #080a31;
  --opacity-stroke-daynight: 0.5;
  --opacity-fill-daynight: 0.66;
}

:root[data-theme="green"] {
  --color-bg: #001a29;
  --color-container-outline: transparent;
  --color-map: #027382;
  --color-text-primary: #fff;
  --color-text-secondary: #01abc2;
  --color-fill-daynight: #001a29;
  --color-stroke-daynight: #01abc2;
  --color-gradient-start: #006472;
  --color-gradient-end: #006472;
  --color-slider-track: #262753;
  --color-slider-accent: #262753;
  --color-slider-thumb: #616390;
  --color-debug-outline: transparent;
  --color-marker-bg: #62b7db;
  --color-marker-border: #080a31;
  --opacity-stroke-daynight: 0.5;
  --opacity-fill-daynight: 0.66;
}

:root[data-theme="mono-dark"] {
  --color-bg: #111;
  --color-container-outline: transparent;
  --color-map: #333;
  --color-text-primary: #fff;
  --color-text-secondary: #999;
  --color-fill-daynight: #111;
  --color-stroke-daynight: #999;
  --color-slider-track: #222;
  --color-slider-accent: #222;
  --color-slider-thumb: #555;
  --color-debug-outline: transparent;
  --opacity-stroke-daynight: 0.3;
  --opacity-fill-daynight: 0.5;
  --fade-size: 120px;
  --color-gradient-start: #222;
  --color-gradient-end: #222;
  --color-marker-bg: #111;
  --color-marker-border: #999;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
