:root {
  --width: 800px;
  --aspect: 1.5712;
  --height: calc(var(--width) / var(--aspect));
  --color-bg: #001731;
  --color-map: #006c99;
  --color-text-primary: #fff;
  --color-text-secondary: #1e9ad4;
  --color-fill-daynight: #001731;
  --color-stroke-daynight: #027fad;
  --color-slider-track: #07294e;
  --color-slider-accent: #07294e;
  --color-slider-thumb: #24a1df;
  --color-debug-outline: red;
  --opacity-stroke-daynight: 0.5;
  --opacity-fill-daynight: 0.5;
  /* Cover component gradient size */
  --fade-size: 200px;
  /* Diameter of circle markers on map */
  --marker-size: 6px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root[data-theme="mono"] {
  --color-bg: #fff;
  --color-map: #ccc;
  --color-text-primary: #111;
  --color-text-secondary: #111;
  --color-fill-daynight: #111;
  --color-stroke-daynight: #fff;
  --color-slider-track: #aaa;
  --color-slider-accent: #000;
  --color-slider-thumb: #999;
  --color-debug-outline: transparent;
  --opacity-stroke-daynight: 0;
  --opacity-fill-daynight: 0.13;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
