:root {
  --container-pad: 80px;
  --width: calc(1024px - var(--container-pad));
  --height: calc(768px - var(--container-pad));
  --width-map: 800px;
  --aspect-map: 1.5712;
  --height-map: calc(var(--width-map) / var(--aspect-map));
  --color-bg: #001731;
  --color-map: #006c99;
  --color-text-primary: #fff;
  --color-text-secondary: #1e9ad4;
  --color-fill-daynight: #001731;
  --color-stroke-daynight: #027fad;
  --color-container-outline: rgba(255, 255, 255, 0.1);
  --color-slider-track: #07294e;
  --color-slider-accent: #07294e;
  --color-slider-thumb: #24a1df;
  --color-accent: #3560ff;
  --color-btn-outline: rgba(255, 255, 255, 0.4);
  --color-debug-outline: red;
  --color-tick-hour-bg: rgba(255, 255, 255, 0.5);
  --color-tick-min-bg: rgba(255, 255, 255, 0.3);
  --color-popup-outline: #2f3274;

  --opacity-stroke-daynight: 0.5;
  --opacity-fill-daynight: 0.5;
  /* Cover component gradient size */
  --fade-size: 200px;
  /* Diameter of circle markers on map */
  --marker-size: 8px;
  /* Time offset ticker */
  --ticker-height: 72px;
  font-family: "Inter", "GT Planar", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --shadow-popup: 0 3px 24px var(--color-bg);
}

:root[data-theme="purple"] {
  --color-bg: #080a31;
  --color-container-outline: transparent;
  --color-map: #313374;
  --color-text-primary: #fff;
  --color-text-secondary: #8d91e1;
  --color-btn: #5d61a4;
  --color-btn-outline: #464a8b;
  --color-btn-bg: #313374;
  --color-fill-daynight: #080a31;
  --color-stroke-daynight: #8d91e1;
  --color-gradient-start: #616390;
  --color-gradient-end: #616390;
  --color-slider-track: #262753;
  --color-slider-accent: #262753;
  --color-slider-thumb: #ffffff;
  --color-debug-outline: transparent;
  --color-marker-bg: #339dff;
  --color-accent: #491cff;
  --color-marker-border: #080a31;
  --opacity-stroke-daynight: 0.5;
  --opacity-fill-daynight: 0.5;
  --color-tick-hour-bg: #8d91e166;
  --color-tick-min-bg: #8d91e133;
}

:root[data-theme="light"] {
  --color-bg: #eaf0fb;
  --color-container-outline: transparent;
  --color-map: #acbfd7;
  --color-text-primary: #2a3a61;
  --color-text-secondary: #6e7f9d;
  --color-btn: #6e7f9d;
  --color-btn-outline: #ccc;
  --color-btn-bg: #eee;
  --color-fill-daynight: #7a95bd;
  --color-stroke-daynight: #000;
  --color-gradient-start: #adbfd7;
  --color-gradient-end: #adbfd7;
  --color-slider-track: #262753;
  --color-slider-accent: #262753;
  --color-slider-thumb: #ffffff;
  --color-debug-outline: transparent;
  --color-marker-bg: #2a3a61;
  --color-accent: #416eff;
  --color-marker-border: #fff;
  --opacity-stroke-daynight: 0;
  --opacity-fill-daynight: 0.2;
  --color-tick-hour-bg: #999;
  --color-tick-min-bg: #aaa;
}

:root[data-theme="mono-dark"] {
  --color-bg: #0e1014;
  --color-container-outline: rgba(255, 255, 255, 0.1);
  --color-map: #292c33;
  --color-text-primary: #fff;
  --color-text-secondary: #4e5460;
  --color-btn: #4e5460;
  --color-btn-outline: #4e5460;
  --color-fill-daynight: #0e1014;
  --color-stroke-daynight: #4e5460;
  --color-slider-track: #222;
  --color-slider-accent: #222;
  --color-slider-thumb: #555;
  --color-debug-outline: transparent;
  --opacity-stroke-daynight: 0.66;
  --opacity-fill-daynight: 0.7;
  --fade-size: 120px;
  --color-gradient-start: #1b1c20;
  --color-gradient-end: #1b1c20;
  --color-marker-bg: #ffbc31;
  --color-marker-border: #111;
  --color-tick-hour-bg: #373b44;
  --color-tick-min-bg: #292c33;
}

:root[data-theme="green"] {
  --color-bg: #001a29;
  --color-container-outline: transparent;
  --color-map: #027382;
  --color-text-primary: #fff;
  --color-text-secondary: #01abc2;
  --color-fill-daynight: #001a29;
  --color-stroke-daynight: #01abc2;
  --color-gradient-start: #006472;
  --color-gradient-end: #006472;
  --color-slider-track: #262753;
  --color-slider-accent: #262753;
  --color-slider-thumb: #616390;
  --color-debug-outline: transparent;
  --color-accent: #00557d;
  --color-marker-bg: #ff7567;
  --color-marker-border: #080a31;
  --color-tick-hour-bg: #005662;
  --color-tick-min-bg: #004049;
  --opacity-stroke-daynight: 0.5;
  --opacity-fill-daynight: 0.66;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
